:root {
    --primary-color: rgba(160, 133, 211, 0.945);
    --background-color: rgba(219, 214, 228, 0.945);
    --text-color: black;
    
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;

}


header {
    background-color: red;
    color: white;
    padding: 1rem 0;
    text-align: center;
    font-size: 2rem;
}

.content {
    position: relative;

}

.picture img {
    width: 100%;
    display: block;
}


.box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    width: 250px;
    border-radius: 5px;
}

.data-box {
    top: 20px;
    left: 20px;
}

.weather-box {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.box h2 {
    background-color: darkgreen;
    color: white;
    padding: 5px;
    text-align: left;
    font-size: 1.2rem;
}

.data , .weather{
    padding: 20px 5px 20px 30px;
    width: 95%;
}


.data p , .weather p{
    line-height: 2rem;
}


.weather-icon-mobile {
    width: 30px;  
    height: auto;
    vertical-align: middle;
}

.weather-icon-large {
    display: none; 
}

