
*{
    margin:0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template:auto 1fr auto/ auto 1fr auto;

}








header{
    grid-column: 1/4;
}


h1{
    text-align: center;
    background-color: blue;
    padding: 0.5rem;
    color: #fff;
}

nav {
    margin: 0 auto 2rem;
    max-width: 900vw;
}

.navigation {
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    background-color: black;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a{
    display:block;
    padding: 0.7rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover{
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
}


img {
    width: 250px;
    height: 200px;
}


h2{
    text-align: center;
}

main {
    grid-column: 1/3;
    background-color: aliceblue;
    margin: 0 2rem 2rem 0;

}

.card1 h2 {
    background-color: blue; 
    padding: 1rem;

}


.card1 img {
    padding-top: 5rem;
    margin-right: 2rem;

}

.about{
    display:flex;
    text-align: center;
    gap:20px;
}


.about p {
    flex: 1px;
    text-align: center;
    padding-top: 5rem;
}


.accra {
    display: flex;
    align-items: center;
    gap:20px;

}

.accra p{
    flex: 1px;
    text-align: justify;
}

.card h2{
    border-bottom: 1px solid #918d8d;
    max-width: 500px;
    margin:1px auto;
}

aside{
    grid-column:3/4;
    background-color: rgb(7, 47, 82);
    margin:0 0 2rem 2rem; 

}

aside h2{
    background-color: blue;
    padding: 1rem;
}


.weblink {
    padding: 1rem;
    margin:5rem;
}

footer {
    padding:2rem;
    grid-column:1/4;
    background-color: rgb(252, 196, 196);
}

footer p {
    margin: 0.5rem;
    text-align: center;
} 